/* .organization-list {
    max-height: 38vh;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    border: 2px solid black;
}

.MuiListItem-root {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

div.MuiListItemText-root {
    width: 100%;
    margin: 0;
}

span.MuiTypography-h6 {
    font-size: 16px;
}

.spacer {
    width: 100%;
    margin: 8px 0;
}

button.learn-more-button {
    padding-left: 0;
    color: #eaa44b;
} */