.carousel-container {
    margin: 0 auto;
    background-color: white;
    /* min-height: 35vh; */
    display: flex;
    align-items: center;
}

.carousel.carousel-slider {
    max-height: 35vh;
    margin-top: 15px;
}

.carousel-image {
    max-height: 35vh;
    max-width: 100%;
    border: 2px solid black;
}

/* .carousel .slide img {
    width: unset !important;
} */

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    background-color: white;
}

.carousel .control-dots {
    margin: 0;
    padding: 0;
}