.event_details-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: span3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.event-details-org-header {
    margin-left: 3vw;
}

.action-button {
    width: 20vw;
    margin: 0px 10px !important;
}

.input-header,
.input-text {
    padding: 5px;
    margin: 13px 2px;
    text-align: center;
    width: 80vw;
}

.input-header {
    font-weight: bold;
    font-size: 32px;
    margin-top: 19px;
    padding: 10px 0;
}

.input-text {
    font-size: 16px;
    padding: 3px;
}

.event_details-container > .orange-line-centered {
    margin-bottom: 5px !important;
}

.action-buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 20px auto;
}

.action-buttons-container > .action-button {
    border: 1px solid #eaa44b;
    color: #eaa44b;
}

.orange-line-event {
    color: #eaa44b;
    width: 50%;
    float: left;
    background-color: #eaa44b;
    min-height: 2px;
    margin: 0;
}

.react-datepicker__input-container input {
    border: 1px dotted #eaa44b;
    padding: 8px;
    font-size: 16px;
    margin: 15px 0;
}