.event_details-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 50px;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: span2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.event-details-org-header {
    margin-left: 3vw;
}

.action-button {
    width: 20vw;
    margin: 0px 10px !important;
}

.input-header,
.input-text {
    padding: 5px;
    margin: 13px 2px;
    text-align: center;
    width: 80vw;
}

.input-header {
    font-weight: bold;
    font-size: 32px;
    margin-top: 19px;
    padding: 10px 0;
}

.input-text {
    font-size: 16px;
    padding: 3px;
}