body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

body { 
    overflow: -moz-scrollbars-none; 
}

.link-button {
    background-color: white;
    float: left;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

input {
    height: 20px;
    border: 1px solid black;
}

/* @media only screen and (max-width: 600px) { */
    .app-grid-container {
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 8vh 92vh;
    }
/* } */

/* @media only screen and (min-width: 600px) {
    .app-grid-container {
        grid-template-columns: auto 480px 120px auto;
        grid-template-rows: 8vh 92vh;
    }
} */
/* 
.app-outer-container {
    max-width: 600px;
} */