body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

body { 
    overflow: -moz-scrollbars-none; 
}

.link-button {
    background-color: white;
    float: left;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

input {
    height: 20px;
    border: 1px solid black;
}

.app-grid-container {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 8vh 92vh;
}