.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-column-end: span col3-start;
    grid-row-start: 1;
    grid-row-end: span2;
    background-color: #eaa44b;
    color: white;
    min-height: 100vh;
    max-width: 600px;
}

.login-outer-container {
    background-color: #eaa44b;
}

.login-header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px; 
}

.login-input-container {
    padding: 15px;
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.login-logo {
    height: 15vh;
    margin-top: 5vh;
}

.login-logo-container {
    display: flex;
    justify-content: center;
}

.login-input {
    padding: 3px;
    font-size: 20px;
    width: 55vw;
    height: 27px;
}

.login-submit {
    padding: 5px;
    width: 100px;
    height: 40px;
    background-color: #eaa44b;
    color: white;
    border: 2px solid white;
    width: 55vw;
    margin-top: 30px;
}

.login-switch-button {
    padding: 5px;
    margin-top: 15px;
    background-color: #eaa44b;
    color: white;
    border: none;
    
}