.event_details-container > div > .map-container > div {
    height: 75% !important;
    max-height: 300px;
}

.event_details-container > div > .map-container {
    max-height: 300px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}