.main-view-header {
    font-size: 27px;
    margin-left: 4vw;
    margin-top: 3vh;
}

.organization-card {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: scroll; */
    grid-column-start: 1;
    grid-column-end: span col2-start;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0 auto;
    padding-top: 2vh;
}

.MuiCardContent-root  { 
    width: 310px;
}