.org-profile-container {
    padding: 20px;
    padding-bottom: 40px;
    height: fit-content;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: span col2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0 auto;
    width: 90%;
}

.org-profile-container > .edit-button {
    margin-top: 30px !important;
    border: 1px solid #eaa44b;
    color: #eaa44b;
    width: 20vw;
    margin: 0 auto
}

.org-profile-subheader {
    margin-bottom: 10px;
}

.cancel-save-button-container {
    max-width: 60vw;
    min-width: 220px;
    margin: 25px auto 0 auto;
    justify-content: space-around;
    display: flex;
}

.cancel-save-button-container > .edit-button {
    border: 1px solid #eaa44b;
    color: #eaa44b;
}

.org-edit-textarea {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    min-height: max-content;
}

.org-edit-header,
.org-edit-subheader {
    width: 90%;
    height: fit-content;
    margin: 15px 0;
    padding: 10px;
}

.org-edit-header,
.org-edit-subheader,
.org-edit-textarea  {
    border: 1px dotted #eaa44b;
    font-family: Arial, Helvetica, sans-serif
}

.org-edit-header {
    font-size: 24px;
    font-weight: bold;
}

.org-edit-subheader {
    font-size: 16px;
}

.upload-image-input {
    width: 80vw;
    padding: 4px;
    margin: 3px;
}

.upload-image-button {
    width: 30vw;
    max-height: 35px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid black;
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.imageUpload {
    display: flex;
    justify-content: center;
}

.back-icon {
    position: absolute;
    top: 9vh;
    left: -20px;
}

.org-profile-container > .events-container > .profile-buttons-container {
    width: 70%;
}

.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
