.org-profile-container {
    padding: 20px;
    padding-bottom: 40px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: span col2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0 auto;
    width: 90%;
}

.edit-button {
    margin-top: 30px !important;
}

.org-edit-textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 20px;
}

.org-edit-header,
.org-edit-subheader {
    width: 90%;
    height: fit-content;
    margin: 15px 0;
    padding: 10px;
}

.org-edit-header {
    font-size: 32px;
    font-weight: bold;
}

.org-edit-subheader {
    font-size: 16px;
}

.upload-image-input {
    width: 80vw;
    padding: 4px;
    margin: 3px;
}

.upload-image-button {
    width: 30vw;
    max-height: 35px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid black;
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
}
