.header-container {
    display: flex;
    grid-column-start: 1;
    grid-column-end: span2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #eaa44b;
    /* padding-bottom: 10px; */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    height: 8vh;
}

.header-inner-container {
    height: 100%;
}

.header-image {
    max-height: 12vw;
    position: sticky;
    top: 0.8vh;
    left: 1.5vw;
}

.header-title {
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto;
    margin-left: 15px;
}