.organization-card div {
    box-shadow: unset;
}

.organization-image {
    max-height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.organization-image-container {
    width: 95%;
    padding-top: 15px;
    margin: 0;
}

.MuiCardActionArea-root {
    height: 95%;
}

.MuiCard-root {
    min-width: 150px;
    min-height: max-content;
    height: fit-content;
    margin: 1.5vh 0;
}

.MuiCardContent-root > h5 {
    /* text-transform: uppercase; */
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.orange-line {
    color: #eaa44b;
    width: 50%;
    float: left;
    background-color: #eaa44b;
    height: 2px;
    margin: 0;
}