.list-item {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.burger-icon {
    width: 50px;
    height: 50px;
}

.burger-icon-container {
    background-color: lightcyan;
}

.header-title {
    justify-self: flex-start;
}

.MuiDrawer-paper {
    width: 20%;
}

.logout-container {
    height: 75vh;
    display: flex;
    align-items: flex-end;
}

.logout-button {
    padding-bottom: 1vh;
}

.burger-menu-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index: 0;
}