.organization-list-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: span col3-start;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    /* align-items: center; */
}

.manage-orgs-header {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.orange-line-centered {
    color: #eaa44b;
    width: 80%;
    margin: 0 auto 30px auto !important;
    background-color: #eaa44b;
    height: 2px;
    margin: 0;
}