.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: span col2-start;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 20px;
    height: fit-content;
}

.profile-username {
    text-align: center;
    margin: 10px 0px;
    margin-bottom: 20px;
}

.profile-buttons-container > .profile-button {
    max-width: 40vw;
    padding: 10px 20px !important;
    background-color: #eaa44b;
}

.profile-buttons-container > button > span {
    font-size: 12px;
    color: white;
}

.profile-buttons-container {
    display: flex;
    justify-content: space-around;
}

.profile-subheader {
    margin-bottom: 5px;
    text-transform: uppercase;
}

/* .profile-header {
    background-color: lightcyan;
    font-size: 29px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    padding-top: 1.8vh;
    padding-left: 2vw;
    float: left;
} */