@media only screen and (min-width: 600px) {
    .map-container > div {
        width: 560px !important;
        max-height: 500px
    }
    .map-container {
        height: 500px;
        margin-top: 10px;
    }
    .event_details-container > div > .map-container > div {
        width: 530px !important
    }
}
@media only screen and (max-width: 600px) {
    .map-container > div {
        width: 335px !important;
        max-height: 400px
    }
    .map-container {
        height: 400px;
        margin-top: 10px;
    } 
    .event_details-container > div > .map-container > div {
        width: 300px !important
    }
    
}

/* .map-container > div {
    width: 335px !important;
    max-height: 400px
} */

.map-container > div > div {
    height: 100% !important;
}

/* .map-container {
    height: 400px;
    margin-top: 10px;
} */

.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
    visibility: hidden;
}

div.gm-svpc {
    visibility: hidden;
}