.create-org-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: span col3-start;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 20px;
}

.create-org-header {
    /* grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1; */
    font-size: 29px;
    margin-left: 4vw;
    margin-top: 22px;
}

.create-org-subheader {
    justify-self: flex-start;
    margin: 20px 0;
    margin-bottom: 18px;
}

.create-org-input,
.create-org-textarea {
    width: 85%;
    border: 1px solid black;
}

.create-org-textarea {
    min-height: 50px;
}

.create-org-submit {
    /* position: absolute;
    bottom: 4vh;
    left: 40vw; */
    grid-column-start: 2;
    grid-column-end: span col3-start;
    width: 20vw;
    height: 5vh;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.create-org-container > .imageUpload > .image-upload-container {
    margin-top: 0;
}